@import url("");

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--violet);
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    height: 100vh;
    font-size: 16px;
}

.outer-container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto auto;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 1rem auto;
}

header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

header img {
    width: 100%;
    max-width: 200px;
}

.hero {
    width: 100%;
    margin-bottom: 0.8rem;
}

.hero img {
    width: 100%;
}

.content {
    width: 100%;
    margin: 1rem auto;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}

.content h1 {
    margin-bottom: 0.9rem;
    font-size: 1.5rem;
}

.content p {
    opacity: 0.7;
    margin-bottom: 1.5rem;
}

.button {
    width: 70%;
    padding: 0.3rem 0.2rem;
    background-color: #fff;
    border-radius: 4rem;
    color: var(--violet);
    margin: 0 auto 1rem;
    box-shadow:  1px 2px 2px #000;
}

.register {
    margin: 5px !important;
    font-size: 0.8rem;
    font-weight: 400;
}

.socials {
    display: flex;
    width: 45%;
    max-width: 160px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0px 4px;
}

ion-icon {
    position: absolute;
    top: 20%;
    left: 23%;
    font-size: 1rem;
    color: #fff;
  }

footer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.attribution a {
    color: #fff;
}

@media screen and (min-width: 380px) {
    body {
        background-image: url("../images/bg-desktop.svg");
    }
}

@media (min-width: 720px) {
    .outer-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto 1fr auto auto;
        gap: 1rem;
        width: 90%;
        margin: 0 auto;
    }

    header {
        grid-column: 1 / span 12;
    }

    .container {
        grid-column: 1 / span 12;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .socials {
        grid-column: 1 / span 12;
    }

    footer {
        grid-column: 1 / span 12;
    }
}

/* @media screen and (min-width: 991px) {
    .outer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr 40px 10px;
        grid-template-areas: 
        "header header"
        "main main"
        "socials socials"
        "footnote footnote";
        grid-gap: 2rem;

        width: 100%;
    }

    header {
        grid-area: header;
    }

    .container {
        grid-area: main;
        display: flex;
    }

    .socials {
        grid-area: socials;
    }


} */